{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<h3>THIS IS MY CONTACTS PAGE.GLAD YOU MET ME.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad delectus dolorum in ipsum natus optio pariatur, perferendis quam quia, quo totam velit veniam voluptas voluptatem voluptatum? Ex facere inventore quo.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci obcaecati quia quo repudiandae vero, voluptas! Accusantium commodi consequuntur debitis delectus ea, obcaecati officiis quia recusandae sequi tempora. Aliquid, distinctio quibusdam.</p>

{% end block %}