{% extends 'base.html' %}

{% block title %}
<h2>This is my index page</h2>
{% endblock %}

{% block content%}
<h5>This is my home page</h5>
<h1 style="text-decoration: underline;color: blue;text-align: center">Welcome to My Webpage</h1>
<ul></ul>
<p style="color: chocolate;text-align-all: justify">This webpage serves as a simple exercise in HTML designed to
help practice fundermental skills in web development</p>
<p style="color: chocolate;text-align-all: justify">Interactivity is introduced with a button triggers a simple alert:</p>
<a href="mailto:ellygreylish@gmail.com"<button>Contact me</button><a/>
<img src="img_1.png"style="border: lightgreen">
<p style="color: chocolate;text-align-all: justify">For external references an anchor tag is assigned.It directs users to
<a style="background-color: cyan" href="https://www.eMobilis.ac.ke"<button>www.eMobilis.ac.ke</button><a/> in a new tab.<p/>
<p style="color: chocolate;text-align-all: justify"> Whether navigation through sections using the menu or exploring external links,this exercise provides
    hands-on experience with essential HTML elements.feel free to modifythe content,URLs or appearence of
ellements to further tailor this exercise to individual preferences</p>
<hr>


{% endblock %}